html,body{
    height: 100%;
}
body{
    background-color: #f8f8f8;
}
.navbar{
    z-index: 1;
    border-bottom: 1px solid gray;
    background-image: url('../img/classy_fabric.png') !important;
    padding: 0 20px;
}
.wrapper{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#sidebar{
    z-index: 2;
    position: relative;
    width: 250px;
    height: 100%;
    background-image: url('../img/classy_fabric.png') !important;
    padding-top: 0;
}
#sidebar .list-group{
    padding: 0 0px;
}
#sidebar .list-group-item,
#sidebar .list-group-item *{
    color:white;
    background: none;
    border: none;
}
#sidebar .list-group-item{
    padding: 10px 20px;
    border-radius: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #DD4814;
}
#sidebar .list-group-item:first-child{
    border-top:none;
}
#sidebar .list-group-item:last-child{
    border-bottom: 1px solid #DD4814;
}
#sidebar .list-group-item.active{
    box-shadow: inset 0  8px 8px -8px black, inset 0  12px 12px -12px #DD4814,inset 0  6px 6px -6px white,
                inset 0 -8px 8px -8px black, inset 0 -12px 12px -12px #DD4814,inset 0 -6px 6px -6px white;
}
#sidebar .list-group-item.active .list-group-item-heading{
    color: #DD4814;
}
#sidebar .list-group-item:hover{
    box-shadow: inset 0  8px 8px -8px black, inset 0  12px 12px -12px #DD4814,inset 0  6px 6px -6px white,
                inset 0 -8px 8px -8px black, inset 0 -12px 12px -12px #DD4814,inset 0 -6px 6px -6px white;
}
#sidebar .list-group-item:first-child:hover{
    box-shadow: inset 0 -8px 8px -8px black, inset 0 -12px 12px -12px #DD4814,inset 0 -6px 6px -6px white;
}

#content{
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    padding-top: 55px;
    padding-left: 250px;

}
form.form-horizontal .form-group label.required:after{
    content: '*';
    color: red;
}


#content .row-item{
    background-color: white;
    border: 1px solid #DDD;
    padding: 10px;
    margin:0 0 10px;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-navigation{
    color:#008CBA;
    font-size: 150%;
    cursor: pointer;
}
.btn-navigation.btn-navigation-score{
    opacity:0.5;
}
.btn-navigation-score:hover{
    opacity:1 !important;
}
.btn-navigation:hover{
    color:#008CCB;
}

/************ PORTRAITS  ************/
.portrait.portrait-xs{
    width:20px;
    height:20px;
}
.portrait.portrait-s{
    width:50px;
    height:50px;
}
.portrait, .portrait.portrait-m{
    width:75px;
    height:75px;
}
.portrait.portrait-l{
    width:100px;
    height:100px;
}
.portrait.portrait-xl{
    width:150px;
    height:150px;
}


/************ CHAT  ************/
/* Green Chat
    strong: #43AC6A;
    normal: #D9EDF7
    rgba(67,172,106,0.9);
*/
/* Blue Chat
    strong: #007196
    normal: #D9EDF7;
    rgba(0,113,150,1);
*/
#chat-wrapper{
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    padding-right: 20px;
}
#chat{
    position:relative;
    color: #D9EDF7;
    width: 300px;
}
#chat .head{
    position:relative;
    background-color: #007196;
    font-size: 14px !important;
    width: 100%;
    line-height: 1.2;
    padding:4px 2px;
    border: 1px solid #2E4588;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#chat .head .close{
    font-size: 14px !important;
}
#chat .head .title .name{
    color: white;
}
#chat .head .badge{
    display: none;
}
#chat .body{
    position:relative;
    background-color: #007196;
    color: black;
    padding: 0;
    border: 1px solid gray;
}
#chat .body .messageslist{
    position: relative;
    background-color: #eee;
    color: black;
    height: 300px;
    overflow-y: auto; 
    word-break: break-all;
}
#chat .body .messageslist .message{
    width: 100%;
    padding-bottom: 2px;
}
#chat .body .messageslist .message:last-child{
    padding-bottom: 0px;
}
#chat .body .messageslist .message .author{
    text-align: left !important;
    font-size: 16px;
    padding: 4px;
}
#chat .body .messageslist .message .image{
    float: left;
    width: 15%;
}
#chat .body .messageslist .message .image img{
    width: 100%;
    height: 100%;
}
#chat .body .messageslist .message .text {
    position: relative;
    float: right;
    width: 80%;
    text-align: left;
    font-size: 13px;
    color: black;
    margin-right: 4px;
}
#chat .body .messageslist .message .text:before {
    content: '';
    position: absolute;
    top: 7px;
    left: -9px;
    width: 0; 
    height: 0; 
    border-color: inherit;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-style: solid;
    border-top-width: 7px;
    border-bottom-width: 7px;
    border-right-width: 7px;
}
#chat .body .messageslist .message .text pre{
    border: 1px solid transparent;
    border-color: inherit;
}
#chat .body .messageslist .message .text pre,
#chat .body .messageslist .message .text code{
    width: 100%;
    overflow-x: visible; 
    overflow-y: visible; 
    word-break: break-all;
    background-color: white;
}
#chat .body .messageslist .message .text code{
    padding: 5px;
}


#chat .body .messagetyper input{
    height:30px;
    width: 100%;
}

#chat .body .setuser{
    background-color: #007196;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    padding: 30px;
}

#chat .smallcounter .glyphicon{
    color: #D9EDF7;
}

#chat .smallcounter .badge{
    color: black;
}

#chat.minimized{
    width: auto;
    height: auto;
}

#chat.minimized > div{
    display: none;
}

#chat.minimized .head{
    display: inline-block;
}
#chat.minimized .head .badge{
    display: inline;
}
#chat.minimized .head .glyphicon-comment{
    display: none;
}