html,body{
    height: 100%;
}
body{
    background-color: #f8f8f8;
}

#sidebar{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 250px;
    min-height: 100%;
    background-image: url('../img/classy_fabric.png') !important;
}
#sidebar .list-group{
    padding: 0 0px;
}
#sidebar .list-group-item,
#sidebar .list-group-item *{
    color:white;
    background: none;
    border: none;
}
#sidebar .list-group-item{
    padding: 10px 20px;
    border-radius: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #DD4814;
}
#sidebar .list-group-item:first-child{
    border-top:none;
}
#sidebar .list-group-item:last-child{
    border-bottom: 1px solid #DD4814;
}
#sidebar .list-group-item.active{
    box-shadow: inset 0  8px 8px -8px black, inset 0  12px 12px -12px #DD4814,inset 0  6px 6px -6px white,
    inset 0 -8px 8px -8px black, inset 0 -12px 12px -12px #DD4814,inset 0 -6px 6px -6px white;
}
#sidebar .list-group-item.active .list-group-item-heading{
    color: #DD4814;
}
#sidebar .list-group-item:hover{
    box-shadow: inset 0  8px 8px -8px black, inset 0  12px 12px -12px #DD4814,inset 0  6px 6px -6px white,
    inset 0 -8px 8px -8px black, inset 0 -12px 12px -12px #DD4814,inset 0 -6px 6px -6px white;
}
#sidebar .list-group-item:first-child:hover{
    box-shadow: inset 0 -8px 8px -8px black, inset 0 -12px 12px -12px #DD4814,inset 0 -6px 6px -6px white;
}

#content{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 250px;
    overflow-y: auto;
}
.navbar{
    background-image: url('../img/classy_fabric.png') !important;
    padding: 0 20px;
    margin-bottom: 15px !important;
}
.navbar .dropdown-menu{
    width: auto !important;
}
.navbar .dropdown-menu li{
    margin: 0 4px;
}
.navbar .dropdown-menu li .media{
    border-bottom: 1px solid #ddd;
    padding: 4px 0;
}
.navbar .dropdown-menu li:last-child .media{
    border-bottom: none;
}
.navbar .dropdown-menu .btn-group{
    width: 160px;
    border: 1px solid silver;
    padding: 4px;
    border-left: none;
    border-right: none;
}
.navbar .dropdown-menu .btn-group a{
    float: left;
    text-align: center;
    background: none;
    margin: 0;
    padding: 0;
    width: 50%;
    color: gray;
    border: none;
    border-right: 1px solid silver;
}
.navbar .dropdown-menu .btn-group a:last-child{
    border-right: none;
}
.navbar .dropdown-menu .btn-group a.success:hover{
    color: #3C763D;
}
.navbar .dropdown-menu .btn-group a.info:hover{
    color: #31708F;
}
.list-group .list-group-item.col-md-6{
    height: 72px;
}
.list-group .list-group-item.col-md-6.empty,
.list-group .list-group-item.col-md-6.empty.searching{
    background: #eee;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    font-size: 18px;
}
.list-group .list-group-item.col-md-6.empty:hover .content{
    color:#3A87AD;
}
#content .container-fluid{
    max-width: 1170px;
}
#content .row-item{
    background-color: white;
    border: 1px solid #DDD;
    padding: 10px;
    margin:0 0 10px;
}
form.form-horizontal .form-group label.required:after{
    content: '*';
    color: red;
}
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.btn-navigation{
    color:#008CBA;
    font-size: 150%;
    cursor: pointer;
}
.btn-navigation.btn-navigation-score{
    opacity:0.5;
}
.btn-navigation-score:hover{
    opacity:1 !important;
}
.btn-navigation:hover{
    color:#008CCB;
}

/************ PORTRAITS  ************/
.portrait.portrait-xs{
    width:20px;
    height:20px;
}
.portrait.portrait-s{
    width:50px;
    height:50px;
}
.portrait, .portrait.portrait-m{
    width:75px;
    height:75px;
}
.portrait.portrait-l{
    width:100px;
    height:100px;
}
.portrait.portrait-xl{
    width:150px;
    height:150px;
}


/************ CHAT  ************/

#chat-tab{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 27px;
    width: 100%;
    padding-right: 20px;
    z-index: 300;
}
#chat-tab .overflow-chats-wrapper{
    position: relative;
    float: right;
    height: 100%;
    overflow: visible;
    width: 200px;
    margin-right: 5px;
}
#chat-tab .overflow-chats-wrapper .dropup{
    position:absolute;
    bottom: 0;
    color: #eee;
    margin-right: 5px;
    width: 200px;
    height: 100%
}
#chat-tab .overflow-chats-wrapper .dropup button.dropdown-toggle{
    background-image: url('../img/classy_fabric.png') !important;
    font-size: 14px !important;
    line-height: 1.2;
    padding:4px 4px;
    width: 100%; 
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid gray;
}
#chat-tab .overflow-chats-wrapper .dropup .dropdown-menu,
#chat-tab .overflow-chats-wrapper .dropup .dropdown-menu li,
#chat-tab .overflow-chats-wrapper .dropup .dropdown-menu li .btn-group{
    background:#eee;
    width: 100%; 
    color: black;
    padding: none;
}
#chat-tab .overflow-chats-wrapper .dropup .dropdown-menu li{
    border-bottom: 1px solid gray;
}
#chat-tab .overflow-chats-wrapper .dropup .dropdown-menu li:last{
    border-bottom: 0px solid gray;
}
#chat-tab .overflow-chats-wrapper .dropup .dropdown-menu li .btn-group{
    position: relative;
    width: 100%;
    font-size: 14px;
    overflow: hidden;
}
#chat-tab .overflow-chats-wrapper .dropup .dropdown-menu li .btn-group:hover button{
    background: #DD4814;
}
#chat-tab .overflow-chats-wrapper .dropup .dropdown-menu li .btn-group button{
    height: 100%;
    border: none;
    padding: 2px;
}
#chat-tab .overflow-chats-wrapper .dropup .dropdown-menu li .btn-group .chat{
    text-align: left;
    width: 100%;
}
#chat-tab .overflow-chats-wrapper .dropup .dropdown-menu li .btn-group .close{
    position: absolute;
    height: auto;
    top: 0;
    right: 0;
    color: black;
    z-index: 1;
}
#chat-tab .chat-wrapper{
    position: relative;
    float: right;
    height: 100%;
    overflow: visible;
    width: 300px;
    margin-right: 5px;
}
#chat-tab .chat-wrapper .chat{
    position:absolute;
    bottom: 0;
    color: #eee;
    width: 300px;
}
#chat-tab .chat-wrapper .chat .head{
    position:relative;
    background-image: url('../img/classy_fabric.png') !important;
    font-size: 14px !important;
    width: 100%;
    line-height: 1.2;
    padding:4px 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid gray;
    border-bottom-width: 0px;
}
#chat-tab .chat-wrapper .chat .head .close{
    font-size: 14px !important;
}
#chat-tab .chat-wrapper .chat .head .title .name{
    color: white;
}
#chat-tab .chat-wrapper .chat .head .chat-controller{
    margin-left: 4px;
    height: 100%;
    cursor: pointer;
}
#chat-tab .chat-wrapper .chat .head .chat-controller:hover{
    color: white;
}
#chat-tab .chat-wrapper .chat .body{
    position:relative;
    background-image: url('../img/classy_fabric.png') !important;
    color: black;
    width: 300px;
}
#chat-tab .chat-wrapper .chat .body .loading{
    background-image: url('../img/classy_fabric.png') !important;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    padding: 30px;
}
#chat-tab .chat-wrapper .chat .body .message-list{
    position: relative;
    background-color: #eee;
    color: black;
    height: 300px;
    overflow-y: auto; 
    word-break: break-all;
    padding: 0 4px;
    border: 1px solid gray;
    border-bottom-width: 0px;
}
#chat-tab .chat-wrapper .chat .body .message-list .message{
    width: 100%;
    padding-bottom: 2px;
}
#chat-tab .chat-wrapper .chat .body .message-list .message:last-child{
    padding-bottom: 0px;
}
#chat-tab .chat-wrapper .chat .body .message-list .message .author{
    text-align: left !important;
    font-size: 16px;
    padding: 4px;
}
#chat-tab .chat-wrapper .chat .body .message-list .message .image{
    float: left;
    width: 17.5%;
}
#chat-tab .chat-wrapper .chat .body .message-list .message .image img{
    width: 100%;
    height: 100%;
}
#chat-tab .chat-wrapper .chat .body .message-list .message .text {
    position: relative;
    float: right;
    width: 80%;
    text-align: left;
    font-size: 13px;
    color: black;
}
#chat-tab .chat-wrapper .chat .body .message-list .message .text:before {
    content: '';
    position: absolute;
    top: 7px;
    left: -9px;
    width: 0; 
    height: 0; 
    border-color: inherit;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-style: solid;
    border-top-width: 7px;
    border-bottom-width: 7px;
    border-right-width: 7px;
}
#chat-tab .chat-wrapper .chat .body .message-list .message .text pre{
    border: 1px solid transparent;
    border-color: inherit;
}
#chat-tab .chat-wrapper .chat .body .message-list .message .text pre,
#chat-tab .chat-wrapper .chat .body .message-list .message .text code{
    width: 100%;
    overflow-x: visible; 
    overflow-y: visible; 
    word-break: break-all;
    background-color: white;
}
#chat-tab .chat-wrapper .chat .body .message-list .message .text code{
    padding: 5px;
}
#chat-tab .chat-wrapper .chat .body .message-typer input{
    height:30px;
    width: 100%;
}

.animated-on-change{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.animated-on-change.flash{
    background-color: #08C;
}